<div class="modal" id="cusPopupForm">
    <div class="modal-content">
        <span class="close" onclick="closeForm()">&times;</span>
        <h2>Create New Customer</h2>
        <form action="{% url 'create-customer' org_id=organisation.id %}" method="post" class="customer-form">
            {% csrf_token %}
            <label for="name">Name</label>
            <input type="text" name="name" id="name"><br>

            <label for="telephone">Phone Number</label>
            <input type="tel" name="telephone" id="telephone"><br>

            <input type="submit" value="Submit">
        </form>
    </div>
</div>

{% block scripts %}
<script>
    /**
     * Variables
     */
    const cusPopupFormElement = document.getElementById('cusPopupForm');
    const openCusFormElement = document.getElementById('openCusForm');

    /**
     * Event Listeners
     */
    openCusFormElement.onclick = function(e) {
        e.preventDefault();
        cusPopupFormElement.style.display = 'block';
        
    }

</script>
{% endblock scripts %}