<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>LOGIN/REG</h1>
    {% if page == 'login' %}
    <form method="POST" action="">
      {% csrf_token %}
      <label for="username">Username</label>
      <input type="text" name="username" id="username" />

      <label for="password">Username</label>
      <input type="password" name="password" id="password" />

      <input type="submit" value="Login" />
    </form>
    <p>Don't have an account?</p>
    <a href="{% url 'register' %}">Sign Up</a>
    {% else %}
    <form method="POST" action="">
      {% csrf_token %} {{ form.as_p }}
      <input type="submit" value="Register" />
    </form>
    <p>Already have an account?</p>
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
  </body>
</html>
