<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>This is just to test this page!</p>
    {% if request.user.is_authenticated %}
    <p>Hello {{ request.user.username }}!</p>
    <p>You are signed in</p>
    <a href="{% url 'logout' %}">logout</a>
    {% else %}
    <p>You are not signed in</p>
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
</body>
</html>